In [1]:
#1.Discuss string slicing and provide examples

#string slicing allows you to extract a portion of a string by specifing a start and end index.
#examples:

intro="my name is Abhay and my brother name is darshan"
intro[0:17]

'my name is Abhay '

In [2]:
intro[17:]

'and my brother name is darshan'

In [7]:
intro[10:31]

' Abhay and my brother'

In [8]:
#2.explain the key features of lists in Python

#list stores heterogenous data
#They are ordered collection of elements
#lists can be of any data type
#They are mutable

In [10]:
#3. Describe how to access modify and delete elements in a list with examples
#example:

list=["pwskills","Virat_kohli",24,90,0,7.4,True,3+5j]
#To access elements
list[1]

'Virat_kohli'

In [11]:
list[-1]

(3+5j)

In [14]:
#To modify elements
list.append("mango")

In [15]:
list

['pwskills', 'Virat_kohli', 24, 90, 0, 7.4, True, (3+5j), 'mango']

In [16]:
list.append("freefire")

In [17]:
list

['pwskills', 'Virat_kohli', 24, 90, 0, 7.4, True, (3+5j), 'mango', 'freefire']

In [20]:
#To delete elements
list.remove(7.4)

In [21]:
list

['pwskills', 'Virat_kohli', 24, 90, 0, True, (3+5j), 'mango', 'freefire']

In [22]:
list.remove("freefire")

In [23]:
list

['pwskills', 'Virat_kohli', 24, 90, 0, True, (3+5j), 'mango']

In [5]:
#4.Compare and contrast tuples and lists with examples

#Tuples:
#Tuples are ordered collection of elements , heterogenous
#They are immutable
#use tuples as data structure where you don't want to modify the data 

#Example:
a=("Abhay","tomato",78,True,4.5)
a[3]="potato"

#when you try to modify tuple it will throw an error because they are immutable

In [6]:
#Lists:
#list is an ordered collection of elements that can be of any data type 
#they are mutable 
#In list we can modify data 

#example:

m=["gopi","suman",33,True,8.9,"rohit_sharma"]
m[-1]

'rohit_sharma'

In [11]:
#5.Describe the key features of sets and provide examples of their use

#Sets are unordered 
#They are unique collection of elements
#they doesen't allow duplicate elements
#indexing will not work as they are unordered

#Examples:
set={1,1,2,3,2,2,2,"pw","pw","tq","tq"}
set

{1, 2, 3, 'pw', 'tq'}

In [12]:
set.add(2000) #not compulsory that it will add to the last of set

In [13]:
set

{1, 2, 2000, 3, 'pw', 'tq'}

In [14]:
students_marks={99,99,92,90,90,80,77,77,63,60,60,60}
students_marks

{60, 63, 77, 80, 90, 92, 99}

In [16]:
#Hence we can say sets are unordered

In [18]:
#6.Discuss the use cases of tuples and sets in Python programming

#Use cases of tuple:
#tuple are used to store heterogenous data which are immutable 
#Example:

a=("Sinchana",129,True,5.6)
a

('Sinchana', 129, True, 5.6)

In [ ]:
a[2]="Bajaj" #when you try to modify tple it will throw an error as tuple are immutable

In [24]:
#Use cases of sets
#Set is used to access unique elements 
#example:

fruit_basket={"banana","apple","grapes","grapes","grapes","apple","pomogranate","banana"}

In [28]:
fruit_basket

{'apple', 'banana', 'grapes', 'pomogranate'}

In [37]:
#7.`Describe how to add modify and delete items in a dictionary with examples

d={"Name":"bharath","Age":"18","wife_name":"Bharvi"}

#To add items in a dictionary
d["salary"]="50000"
d

{'Name': 'bharath', 'Age': '18', 'wife_name': 'Bharvi', 'salary': '50000'}

In [38]:
#To modify items in a dictionary 
d["wife_name"]="pooja"
d

{'Name': 'bharath', 'Age': '18', 'wife_name': 'pooja', 'salary': '50000'}

In [39]:
#To delete items in a dictionary
del d["Age"]
d

{'Name': 'bharath', 'wife_name': 'pooja', 'salary': '50000'}

In [41]:
#8. Discuss the importance of dictionary keys being immutable and provide examples

#Dictionary is a data structure that stores data as key value pair.
#keys are unique and immutable
#this means if you iterate over a dictionary the item will be returned in the order they were added

#Examples:
Resume={"Name":"Abhay","Age":"18","email":"abhayshet@gmail.com"}
Resume["Name"]

'Abhay'

In [42]:
Resume["email"]

'abhayshet@gmail.com'

In [ ]:
Resume["18"] #if you try to execute it will throw an error
# Becasue you can't access key using value , you can only access value using key
#hence we can say keys are immutable